<h1>Log in</h1>

<form action="/sessions" method="post">
  Email: <input type="text" name="email"><br>
  Password: <input type="password" name="hashed_password"><br>
  <button type="submit" value="submit">submit</button>
</form>