<div id="new_drawing">

<h1>Draw!</h1>

<div id="canvas_content">
  <canvas id="simple_sketch" width="800" height="500"></canvas>
  <script type="text/javascript">
    $(function() {
      $('#simple_sketch').sketch();
    });
  </script>

  <form action="/drawings" method="post">
    <input type="button" id="save" value="Save to PNG">
  </form>
</div>

</div>
