<div id="navbar">
  <% if session["user"] %>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/drawings/new">Draw!</a></li>
      <li><a href="/users/<%= session["user"] %>">Profile</a></li>
      <li><a href="/drawings">My Drawings</a></li>
      <li><form action="/sessions" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" name="logout" value="logout">
        </form></li>
    </ul>  
  <% else %>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/new">Sign up</a></li>
      <li><a href="/sessions">Log in</a></li>
    </ul>
  <% end %>
</div>