Username: <input type="text" name="username"><br>
Email: <input type="text" name="email"><br>
Password: <input type="password" name="hashed_password"><br>
<button type="submit" name="submit">Submit</button>